<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
<br />
<table width="50%">
    <tr>
        <td align="center" style="background-color:yellow">
            <span style="font-size:25px;">   Bienvenidos a Dr. Seba  </span>
            <br />
            <br />
        </td>

    </tr>

    <tr align="center">
        <td>
            <br />
            <br />
            Sr [dni]
            <br />
            <br />
                        <br />
            <p>Password:</p>
            [password]
            Gracias por registrarse al sistema de Dr. Seba
            <br />
            <a href="https://localhost:44323/admin">
                Entrar al sistema
            </a>

            gracias.
            <br />
            <br />
        </td>
    </tr>
    <tr>
        <td align="center" style="background-color:cyan">
            <br />
            <br />
            <span style="font-size:15px;text-decoration:underline">   sistema v1.0   </span>
            <br />
            <span style="font-size:20px;">   sistema clinicas    </span>
            <br />
            <br />
        </td>

    </tr>

    </tr>


</table>
</body>
</html>  