<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
<br />
<table width="50%">
    <tr>
        <td align="center" style="background-color:red">
            <span style="font-size:25px;">   Confirmacion de Truno - Dr. Seba  </span>
            <br />
            <br />
        </td>

    </tr>

    <tr align="center">
        <td>
            <br />
            <h2>Truno Confirmado</h2>
            <h3>
                [dni]
            </h3>
            <br />
            
            <h3>
                Hola [nombre], el turno se cancelo para el dia:
            </h3> 
            <br />
            <h3> 
                [fecha]
            </h3>
            <br />
            <h3>
                [especialidad]
            </h3>
            <br />
            <h3>
            [medico]
            </h3>
            <br/>
            <h1>
            [cancel]
            </h1>
            <br/>
            
            <br />
            <a href="https://localhost:44323/admin/" target="_blank">
                            Entrar al sistema
            </a>

            <p>Gracias por usar al sistema de Dr. Seba</p>
            <br />
            <br />
        </td>
    </tr>
    <tr>
        <td align="center" style="background-color:cyan">
            <br />
            <br />
            <span style="font-size:15px;text-decoration:underline">   sistema v1.0   </span>
            <br />
            <span style="font-size:20px;">   sistema clinicas    </span>
            <br />
            <br />
        </td>

    </tr>

    </tr>


</table>
</body>
</html>  